<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Calculation Results</title>
  </head>
  <body>
    <div class="container">
      <h2>Results</h2>
      <div class="result-content">
        <% if (start_date && next_order_date) { %>
        <div id="orderSummary">
          <p>
            Order held from <%= start_date %> - <%= next_order_date %> (<%=
            days_to_hold %> days)
          </p>
          <p>Offered Call Summary</p>
        </div>
        <button class="copy-btn" onclick="copyText('orderSummary')">
          Copy Hold Result
        </button>
        <% } %> <% if (order_amount && discount_amount) { %>
        <div id="discountSummary">
          <p>Order Amount: $<%= order_amount %></p>
          <p>Discount Amount: <%= discount_amount %>%</p>
          <p>Total after Discount: $<%= total %></p>
        </div>
        <button class="copy-btn" onclick="copyText('discountSummary')">
          Copy Discount Result
        </button>
        <% } %>

        <p><a href="/">Calculate Again</a></p>
      </div>
    </div>

    <script>
      function copyText(elementId) {
        const element = document.getElementById(elementId);
        const text = element.innerText;

        navigator.clipboard
          .writeText(text)
          .then(() => alert("Copied:\n" + text))
          .catch((err) => console.error("Failed to copy text: ", err));
      }
    </script>
  </body>
</html>
